/*CSS DOCUMENT*/

body { 
      background-color: rgb(255, 255, 255);
}

h1 {  
      color: rgb(229, 190, 237);
      font-size: 3em;
      padding: none;
      font-family: montserrat, sans-serif;
      font-style: normal;
      font-weight: 500;
}

h2 {
      color:rgb(229, 190, 237);
      font-size: 1.75em;
      font-family: montserrat, sans-serif;
      font-style: normal;
      font-weight: 500;
}

h3 {
      color: rgb(149, 191, 166);
      font-size: 1.3em;
      font-family: montserrat, sans-serif;
      font-style: normal;
}

p {   
      font-family: montserrat, sans-serif;
      font-weight: 200;
      font-style: normal;
      max-width: 35em
}

@media only screen and (min-width:25em){
    p {
        width: 45%;
    }
}

img {
      width: 100%;
      margin-top: 1em;
}


nav ul li {
    display: inline;
	list-style-type: none;
	letter-spacing: 0.05em;
}

nav ul li a {
      text-decoration:none;
      color: rgb(149, 191, 166);
      font-family: montserrat, sans-serif;
      font-weight: 200;
      font-style: normal;
}

div.container {
	max-width: 60em;
	margin: auto;
}





/*CSS DOCUMENT*/

img {
    width: 100%; /*Please leave this line.*/
}
body {
  background-color: rgb(255, 255, 255);
  padding: 1em;
}

h1 {  
      color: rgb(229, 190, 237);
      font-size: 3em;
      padding: none;
      font-family: gautreaux, sans-serif;
      font-style: normal;
      font-weight: 500;
}

h2 {
      color:rgb(229, 190, 237);
      font-size: 1.75em;
      font-family: gautreaux, sans-serif;
      font-style: normal;
      font-weight: 500;
}

h3 {
      color: rgb(149, 191, 166);
      font-size: 1.3em;
      font-family: montserrat, sans-serif;
      font-style: normal;
}

p {   
      font-family: montserrat, sans-serif;
      font-weight: 200;
      font-style: normal;
      max-width: 35em
}

figure{
  margin: 0;
}

section.menu ul {
  padding: 0;
}

 nav ul {
  padding: 0.5em;
  margin-bottom: 1.5em;
  word-spacing: 0.8em;
  font-size: 1.5em;
 }

 nav ul li {
  display: inline;
  list-style-type: none;
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.07em;
 }

 nav ul li a{
   text-decoration: none;
   color: #82B298;
 }

 nav ul li a:hover{
   color: #82B298;
 }
