/*CSS DOCUMENT*/
body{
    background-color: rgb(241, 221, 241);
}
h1 {
    color:rgb(163, 83, 173);
    font-size:xx-large;
    font-family:serif;
    padding-top:0.2em;
    padding-bottom: 0.2em;
    padding-right: 0.2m;
    margin-inline-start: 0.5em;
    border-bottom: 2px solid currentColor;
}
h2{ 
    color:rgb(163, 83, 173);
    font-size:x-large;
    font-family: serif;
    margin-inline-start: 0.7em;
    padding-bottom:0em;
}
h3{
    color:rgb(163, 83, 173);
    font-family:sans-serif;
    margin-inline-start: 1em;
}
h4{
    color: rgb(60,35,118)
    font-family:serif;
    margin-top: 0em;
    margin-bottom: 0em;
}
li{
    color: rgb(60, 35, 118);
    font-family:serif;
    padding-bottom: 1em;
    max-width: 43ch;
}
