/*CSS DOCUMENT*/
  @import url("https://use.typekit.net/lck5ubd.css");

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;} 

img {
    width: 100%; /*Please leave this line.*/
}

<style > body {
    background-color: #f0efe0;
    margin: auto;
}

h1 {
    color:#ff7d19;
    font-size: 3em;
    font-family: grange-extended, serif;
    font-weight: 900;
    font-style: normal;
    text-transform: full-width;
    text-align: center;
    line-height: 1em;
    padding-top: 1em;

}

h2 {
    color: #cf4829;
    font-size: 1.3em;
    font-family: Perpetua;
    text-align: center;
    padding: 1em;
}

h3 {
    color: #4c944c;
    font-size: 1.3em;
    font-family: calibri, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 3em;
    text-transform: none;
    text-align: center;
}


p {
    color: #cf4829;
    font-size: 1em;
    line-height: 1em;
    font-family: calibri, sans-serif;
    font-weight: 300;
    font-style: normal;
    
}

h6 {
    color: #cf4829;
    font-size: .8em;
    font-family: calibri, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
}

ul {
    font-family: calibri, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #cf4829;
    padding-left: 2em;
    line-height: 1.5em;
    list-style: circle;
}

figcaption {
    color: #cf4829;
    padding-left: 1.5em;
    font-family: calibri, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-top: 1em;
    

}

ol {
    padding-left: 2em;
    font-family: calibri, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #cf4829;
    line-height: 1.5em;    
}
